export PATH="{{ plenv.install_path }}/bin:$PATH"
 
if [ -s "$HOME/.plenv/bin" ]; then
  plenv_root="~/.plenv"
  export PATH="$HOME/.plenv/bin:$PATH"
  eval "$(plenv init -)"
elif [ -s "{{ plenv.install_path }}" ]; then
  plenv_root="{{ plenv.install_path }}"
  export PLENV_ROOT="$plenv_root"
  eval "$(plenv init -)"
fi
